<section id="about" class="about">
    <h2 class="about__title">Hi, I'm Iva.</h2>

    <ul class="about__text">
        <li class="about__text__item">
            Enthusiastic & successful 
            <a class="about__text__link" href="https://www.czechitas.cz/blog/iva-fischerova-moje-cesta-k-it" aria-label="Read more about Iva's career transfer.">
                <span>career changer to IT.</span>
            </a>
        </li>
        <li class="about__text__item">Coach & mentor at 
            <a class="about__text__link" href="https://www.czechitas.cz/" aria-label="Read more about Czechitas non-profit organization.">
                <span>Czechitas.</span>
            </a>
        </li>
        <li class="about__text__item">
            Currently working in 
            <a class="about__text__link" href="https://www.linkedin.com/in/iva-fischerova/?locale=en_US" aria-label="See Iva's profile on LinkedIn.">
                <span>QA.</span>
            </a>
        </li>
        <li class="about__text__item">
            Hard working to become a 
            <a class="about__text__link" href="https://github.com/ifischerova" aria-label="See Iva's Github page.">
                <span>frontend dev.</span>
            </a>
        </li>
    </ul>

    <ul class="about__cards">
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">HTML & CSS</h3>
            <p class="about__cards__item__text">Czechitas<br> Kevin Powell <br> Frontend Mentor</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">SASS</h3>
            <p class="about__cards__item__text">Czechitas <br> Kevin Powell <br> Frontend Mentor </p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">Tailwind</h3>
            <p class="about__cards__item__text">Frontend Mentor</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">Bootstrap</h3>
            <p class="about__cards__item__text">Czechitas</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">Python</h3>
            <p class="about__cards__item__text">Czechitas <br> Real Python <br> Codemy.com</p>    
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">JavaScript</h3>
            <p class="about__cards__item__text">Czechitas <br> Frontend Mentor</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">Vue</h3>
            <p class="about__cards__item__text">Vue Mastery</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">React</h3>
            <p class="about__cards__item__text">Czechitas</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">Cypress</h3>
            <p class="about__cards__item__text">Filip Hric</p>
        </li>
        <li class="about__cards__item">
            <h3 class="about__cards__item__title">SQL</h3>
            <p class="about__cards__item__text">Digital Academy (Czechitas) <br> itnetwork.cz</p>
        </li>
    </ul>

</section>