<section id="about" class="about">
    <h2 class="about__title">Hi, I'm Iva.</h2>

    <ul class="about__text">
        <li class="about__text__item">
            Enthusiastic &amp; successful 
            <a class="about__text__link" href="https://www.czechitas.cz/blog/iva-fischerova-moje-cesta-k-it" aria-label="Read more about Iva's career transfer.">
                <span>career changer to IT.</span>
            </a>
        </li>
        <li class="about__text__item">Coach &amp; mentor at 
            <a class="about__text__link" href="https://www.czechitas.cz/" aria-label="Read more about Czechitas non-profit organization.">
                <span>Czechitas.</span>
            </a>
        </li>
        <li class="about__text__item">
            Currently working in 
            <a class="about__text__link" href="https://www.linkedin.com/in/iva-fischerova/?locale=en_US" aria-label="See Iva's profile on LinkedIn.">
                <span>QA.</span>
            </a>
        </li>
        <li class="about__text__item">
            Hard working to become a 
            <a class="about__text__link" href="https://github.com/ifischerova" aria-label="See Iva's Github page.">
                <span>frontend dev.</span>
            </a>
        </li>
    </ul>
</section>