<div id="top-button" class="back__to__top__button" onclick=scrollToTop()>
   <a href="#" class= aria-label="Go back to top of the page."><i class="fa-solid fa-arrow-up text-lg sm:text-3xl mx-3"></i></a>
</div>