<section id="contact" class="contact">
    <h2 class="contact__title">CONTACT ME</h2>

    <div class="contact__container">
        <ul class="contact__cards">
            <li class="contact__card">
                <a href="mailto:me@ifischerova.cz" aria-label="Send me an email."><i class="fa-solid fa-envelope icon"></i></a>
                <h3>Email</h3>
            </li>
            <li class="contact__card">
                <a href="https://api.whatsapp.com/send?phone=731479606" aria-label="Contact me on WhatsApp."><i class="fa-brands fa-square-whatsapp icon"></i></a>
                <h3>731479606</h3>
            </li>
            <li class="contact__card">
                <a href="https://www.linkedin.com/in/iva-fischerova/" aria-label="See my LinkedIn profile."><i class="fa-brands fa-linkedin icon"></i></a>
                <h3>LinkedIn</h3>
            </li>
        </ul>

        <form id="contact-form" class="contact__form" action="/?form_submit=success" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <div class="hidden">
                <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
                </label>
            </div>
            <div class="contact__form__div">
                <label class="contact__form__label" for="Name and Surname">Name &amp; Surname</label><input class="contact__form__input" type="text" id="name-and-surname" name="name-and-surname" required>
            </div>
            <div class="contact__form__div">
                <label class="contact__form__label" for="Email">Email</label><input class="contact__form__input" type="email" id="email" name="email" required>
            </div>            
            <div class="contact__form__div">
                <label class="contact__form__label" for="Message">Message</label><textarea class="contact__form__input"  id="message" rows="4" name="message"required></textarea>
            </div>
            <input type="submit" value="Send Message" class="contact__form__submit__btn" id="submit-form-button">
        </form>
   </div>
</section>