<section id="contact" class="contact">
    <h2 class="contact__title">Contact Me</h2>

    <div class="contact__container">
        <ul class="contact__cards">
            <li class="contact__card">
                <a href="mailto:me@ifischerova.cz" aria-label="Send me an email."><i class="fa-solid fa-envelope text-3xl mx-3"></i></a>
                <h3>Email</h3>
            </li>
            <li class="contact__card">
                <a href="https://api.whatsapp.com/send?phone=731479606" aria-label="Contact me on WhatsApp."><i class="fa-brands fa-square-whatsapp text-3xl mx-3"></i></a>
                <h3>731479606</h3>
            </li>
            <li class="contact__card">
                <a href="https://www.linkedin.com/in/iva-fischerova/" aria-label="See my LinkedIn profile."><i class="fa-brands fa-linkedin text-3xl mx-3"></i></a>
                <h3>LinkedIn</h3>
            </li>
        </ul>

        <form id="contact-form" class="contact__form" action="/?form_submit=success" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <div class="hidden">
                <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
                </label>
            </div>
            <div class="contact__form__div">
                <label class="contact__form__label">Name &amp; Surname</label>
                <input class="contact__form__input" type="text" name="name-and-surname" required>
            </div>
            <div class="contact__form__div">
                <label class="contact__form__label">Email</label>
                <input class="contact__form__input" type="email" name="email" required>
            </div>            
            <div class="contact__form__div">
                <label class="contact__form__label">Message</label>
                <textarea class="contact__form__input" rows="4" name="message" required></textarea>
            </div>
            <input type="submit" value="Send Message" class="contact__form__submit__btn">
        </form>
   </div>
</section>