<section id="experiences" class="section">
    <h2 class="section__title">EXPERIENCES</h2>
    <ul class="experiences__cards">
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">HTML &amp; CSS</h3>
            <p class="experiences__cards__item__text">Czechitas<br> Kevin Powell <br> Frontend Mentor</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">SASS</h3>
            <p class="experiences__cards__item__text">Czechitas <br> Kevin Powell <br> Frontend Mentor </p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">Tailwind</h3>
            <p class="experiences__cards__item__text">Frontend Mentor</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">Bootstrap</h3>
            <p class="experiences__cards__item__text">Czechitas</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">Python</h3>
            <p class="experiences__cards__item__text">Czechitas <br> Real Python <br> Codemy.com</p>    
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">JavaScript</h3>
            <p class="experiences__cards__item__text">Czechitas <br> Frontend Mentor</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">Vue</h3>
            <p class="experiences__cards__item__text">Vue Mastery</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">Cypress</h3>
            <p class="experiences__cards__item__text">Filip Hric</p>
        </li>
        <li class="experiences__cards__item">
            <h3 class="experiences__cards__item__title">SQL</h3>
            <p class="experiences__cards__item__text">Digital Academy (Czechitas) <br> itnetwork.cz</p>
        </li>
    </ul>
</section>