<li class="experiences__cards__item">
    <h3 class="experiences__cards__item__title">{{ title }}</h3>
    <p class="experiences__cards__item__text">{{ text_1 }} <br> {{ text_2 }} <br> {{ text_3 }}</p>
</li>