<section id="experiences" class="section">
    <h2 class="section__title">Experiences</h2>
    <ul class="experiences__cards">
        {%- from 'partials/experience_card.njk' import card %}
        {{ card("HTML & CSS", "Czechitas", "Kevin Powell", "Frontend Mentor") }}
        {{ card("Sass", "Czechitas", "Kevin Powell", "Frontend Mentor") }}
        {{ card("Tailwind", "Frontend Mentor") }}
        {{ card("Bootstrap", "Czechitas") }}
        {{ card("Python", "Czechitas", "Real Python", "Codemy.com") }}
        {{ card("JavaScript", "Czechitas", "Frontend Mentor") }}
        {{ card("Vue", "Vue Mastery") }}
        {{ card("Cypress", "Filip Hric") }}
        {{ card("SQL", "Digital Academy (Czechitas)", "itnetwork.cz") }}
    </ul>
</section>