<section id="experiences" class="experiences">
    <h2 class="experiences__title">Experiences</h2>

    <div class="experiences__container">
        <i class="fa-brands fa-bootstrap"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3-alt"></i>
        <i class="fa-brands fa-sass"></i>
        <i class="fa-brands fa-python"></i>
        <i class="fa-brands fa-square-js"></i>
        <i class="fa-brands fa-vuejs"></i>
    </div>
</section>