<footer class="m-0 py-4 w-full text-center bg-gradient-to-r from-black-begin to-black-end text-slate-300">
          
    <div class="inline-block w-full">
        <a href="https://github.com/ifischerova" class="w-full h-full"><i class="fa-brands fa-square-github text-5xl mx-3"></i></a>

        <a href="https://www.linkedin.com/in/iva-fischerova/"><i class="fa-brands fa-linkedin text-5xl mx-3"></i></a>

        <a href="https://twitter.com/ifischerova_cz"><i class="fa-brands fa-square-twitter text-5xl mx-3"></i></a>
    </div>
    <div class="text-xl mt-2">Iva Fischerová &copy; 2022 | <a href="mailto:info@ifischerova.cz">
        <span>me@ifischerova.cz</span></a>
    </div>
           
</footer>