<footer class="footer">
          
    <div class="footer__icons__container">
        <a href="https://github.com/ifischerova" aria-label="See Iva's Github page."><i class="fa-brands fa-square-github icon"></i></a>

        <a href="https://www.linkedin.com/in/iva-fischerova/" aria-label="See Iva's profile on LinkedIn."><i class="fa-brands fa-linkedin icon"></i></a>

        <a href="https://twitter.com/ifischerova_cz" aria-label="See Iva's Twitter account."><i class="fa-brands fa-square-twitter icon"></i></a>
    </div>
    <div class="footer__text">Iva Fischerová &copy; 2023 | <a href="mailto:me@ifischerova.cz">
        <span>me@ifischerova.cz</span></a>
    </div>
           
</footer>