<!-- hamburger menu -->
<input id="toggle" type="checkbox"></input>

    <div class="nav">
        <nav class="nav__container" id="hamburger-menu">
            <a class="nav__item--hamburger" href="#about" onclick="closeHamburgerMenu()" aria-label="Read more about Iva Fischerova in the About section."><span>About</span></a><br>
            <a class="nav__item--hamburger" href="#experiences" onclick="closeHamburgerMenu()" aria-label="Read more about Iva Fischerova's experiences."><span>Experiences</span></a><br>
            <a class="nav__item--hamburger" href="#portfolio" onclick="closeHamburgerMenu()"  aria-label="Discover Iva's porftolio."><span>Portfolio</span></a><br>
            <a class="nav__item--hamburger" href="#contact" onclick="closeHamburgerMenu()"  aria-label="Read how to contact Iva."><span>Contact</span></a><br>
            <a class="nav__item--hamburger nav__item__btn--hamburger" onclick="closeHamburgerMenu()" href="/src/file.pdf" aria-label="Download Iva's CV."download="ficherova_iva_cv">Resume</a>
        </nav>
    </div>

<!-- end of hamburger menu -->
<header
    class="header__container">
    <h1 class="header__title">
        <a class="header__text"
            href="https://ifischerova.netlify.app/" aria-label="Reload the page."><span>ifischerova.cz</span></a>
    </h1>

<!-- hamburger icon -->
    <label for="toggle" class="hamburger hamburger__label" onclick="toggleIcon()" id="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
<!-- end of hamburger icon -->

<!-- desktop menu -->
    <nav class="nav__hamburger__container" id="sidebar-menu">
        <a class="nav__item" href="#about" aria-label="Read more about Iva Fischerova in the About section."><span>About</span></a>
        <a class="nav__item" href="#experiences" aria-label="Read more about Iva Fischerova's experiences."><span>Experiences</span></a>
        <a class="nav__item" href="#portfolio" aria-label="Discover Iva's porftolio."><span>Portfolio</span> </a>
        <a class="nav__item" href="#contact" aria-label="Read how to contact Iva."><span>Contact</span> </a>
        <a class="nav__item nav__item__btn" href="/src/file.pdf" aria-label="Download Iva's CV." download="fischerova_iva_cv">Resume</a>
    </nav>
<!-- end of desktop menu -->
</header>