{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<section class="is-responsive grow p-4">
    <h1 class="font-bold text-center text-3xl">O mně
    </h1>
    <div class="">
      <a class="article-link" href="https://www.czechitas.cz/blog/iva-fischerova-moje-cesta-k-it">
        <h2 class="font-bold text-xl"><span>A teď tu o Karlkulce...</span></h2>
      </a>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe explicabo veritatis vel dolore illo natus
        nemo quis omnis ipsam, alias labore eveniet maiores distinctio iste optio, dicta cumque minima.
        <a class="article-link font-bold" href="https://www.czechitas.cz/blog/iva-fischerova-moje-cesta-k-it"><span>Celý článek</span></a>
      </p>
    </div>
  </section>
{% endblock %}