<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
        rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/42ccad3a95.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Meet Iva Fischerova, enthusiastic IT mummy & runner from Prague.">

    <title>{% block title %} Iva Fischerová {% endblock %}</title>

    {%block head%}
    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="#">
                    <h1>Iva Fischerová</h1>
                </a>
            </div>

            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('get_about_page') }}">About <span
                        class="sr-only">vybráno</span></a>
                <a class="nav-item nav-link" href="{{ url_for('get_blog_page') }}">Blog </a>
                <a class="nav-item nav-link" href="{{ url_for('get_projects_page') }}">Projects</a>
            </div>
        </nav>
    </header>
    <footer>
        {% block footer %}
        <div class="social-media">
            <a href="https://github.com/ifischerova">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/iva-fischerova/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/ifischerova_cz">
                <i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div>
            Iva Fischerová &copy; 2022 | <a href="mailto:info@ifischerova.cz"> info@ifischerova.cz</a>
        </div>
        {% endblock %}
    </footer>
</body>

</html>