{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<h1 class="font-bold text-center text-3xl h-min py-4">Blog</h1>
<section class="is-responsive grow p-4">

  <div class="h-1/5">
    <a class="article-link" href="#">
      <h2 class="font-bold text-xl"><span>Lorem ipsum dolor sit amet.</span></h2>
    </a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe explicabo veritatis vel dolore illo natus
      nemo quis omnis ipsam, alias labore eveniet maiores distinctio iste optio, dicta cumque minima.
    </p>
  </div>
  <div class="h-1/5">
    <a class="article-link" href="#">
      <h2 class="font-bold text-xl"><span>Lorem ipsum dolor sit amet.</span></h2>
    </a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe explicabo veritatis vel dolore illo natus
      nemo quis omnis ipsam, alias labore eveniet maiores distinctio iste optio, dicta cumque minima.
    </p>
  </div>
  <div class="h-1/5">
    <a class="article-link" href="#">
      <h2 class="font-bold text-xl"><span>Lorem ipsum dolor sit amet.</span></h2>
    </a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe explicabo veritatis vel dolore illo natus
      nemo quis omnis ipsam, alias labore eveniet maiores distinctio iste optio, dicta cumque minima.
    </p>
  </div>
</section>

{% endblock %}