{% extends 'base.html' %}
{% block head %}
{% endblock %}  
{% block content %}
<section class="is-responsive grow p-5">
    <h1 class="m-3 md:m-5 font-bold text-center text-3xl">Projekty</h1>
    <section class="flex flex-col md:flex-row justify-center items-center grow">
        <div class="">
            <h2 class="font-bold text-center text-xl m-3">Informace ze školky</h2>
            <div class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium rerum impedit
                nemo, ipsum cum mollitia blanditiis libero, illum, ratione molestiae et ullam. Eius eos rerum veritatis
                est eaque quia cum. Laudantium odit necessitatibus inventore, nesciunt temporibus tempore. A, quis
                velit?
            </div>
        </div>
        <div class="">
            <h2 class="font-bold text-center text-xl m-3">Frontendmentor</h2>
            <div class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae
                aut
                quibusdam culpa assumenda delectus voluptatum veniam esse tempora id amet, libero at ut quod corrupti
                facere
                expedita vel architecto est recusandae! Deleniti optio, architecto quibusdam pariatur ullam debitis
                voluptatum?
            </div>
        </div>
        <div class="">
            <h2 class="font-bold text-center text-xl m-3">Běžci sobě</h2>
            <div class="text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, facere blanditiis atque quae excepturi
                delectus hic ut ab ipsum deleniti unde libero molestias mollitia ratione, consequuntur pariatur nihil
                id, labore beatae? Delectus blanditiis officiis, ad commodi iure iusto! Incidunt, reprehenderit.
            </div>
        </div>
    </section>

</section>
{% endblock %}