<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script defer src="/js/index.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&amp;display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" media="screen">   
    <script src="https://kit.fontawesome.com/42ccad3a95.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Meet Iva Fischerova, enthusiastic junior frontend developer with QA background &amp; skills.">

    <meta property="og:title" content="Iva Fischerova">
	<meta property="og:description" content="Intro page of enthusiastic junior frontend developer with QA background &amp; skills.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:url" content="https://ifischerova.cz/">
	<meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="">
	<meta name="twitter:creator" content="@ifischerova_cz">
	<meta name="twitter:title" content="Iva Fischerova">
	<meta name="twitter:description" content="Intro page of enthusiastic junior frontend developer with QA background &amp; skills.">

    <meta name="author" content="Iva Fischerova">

    <title>{{ title }}</title>

</head>

<body class="body">

        {% include 'partials/header_with_menu.njk' %}

        {% include 'partials/submission_message.njk'%}

    <main class="main">

        {% include 'partials/about.njk' %}

        {% include 'partials/experiences.njk' %}

        {% include 'partials/portfolio.njk' %}

        {% include 'partials/contact.njk' %}
        
        {% include 'partials/back_to_top_button.njk' %}
    </main>

        {% include 'partials/footer.njk' %}
</body>

</html>