<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet" media="screen">   
    <script src="https://kit.fontawesome.com/42ccad3a95.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Meet Iva Fischerova, enthusiastic IT mummy (frontend, QA) & runner from Prague.">

    <meta property="og:title" content="Iva Fischerova">
	<meta property="og:description" content="Portfolio of enthusiastic junior frontend developer with QA background & skills.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://ifischerova.netlify.app/images/background.jpg">
	<meta property="og:url" content="https://ifischerova.netlify.app/">
	<meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="https://ifischerova.netlify.app/images/background.jpg">
	<meta name="twitter:creator" content="@ifischerova_cz">
	<meta name="twitter:title" content="Iva Fischerova">
	<meta name="twitter:description" content="Portfolio of enthusiastic junior frontend developer with QA background & skills.">

    <meta name="author" content="Iva Fischerova">

    <title>{{ title }}</title>

</head>

<body class="is-responsive m-auto p-0 min-h-screen bg-very-dark-violet font-normal text-base text-slate-300 overflow-x-hidden">

        {% include 'partials/header_with_menu.njk' %}

    <main class="is-responsive max-w-[1400px] p-8 min-h-screen bg-very-dark-violet">

        {% include 'partials/about.njk' %}

        {% include 'partials/portfolio.njk' %}

        {% include 'partials/contact.njk' %}

    </main>
        {% include 'partials/footer.njk' %}
</body>

</html>